.container {
  display: flex;
  flex-direction: row;
}

.textContainer {
  box-sizing: content-box;
  padding: 1rem;
  width: 92%;
  text-align: justify;
  text-justify: inter-word;
}

.text {
  font-size: 1.2rem;
  line-height: 1.2;
  /* margin: 0.5rem; */
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  margin: 0 auto;
  position: relative !important;
  height: auto !important;
  border: #ff0000 solid 0.1rem;
  border-radius: 1rem;
}

.imageLink {
  box-sizing: content-box;
  position: relative;
  margin: 1rem 1rem 0 1rem;
}

.imageLink:last-child {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
}
