/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  box-sizing: border-box;
  width: 100%;
  min-height: 71vh;
}

h3 {
  font-weight: 600;
}

.mapResponsive {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
  width: 100%;
  border: #ff0000 solid 0.1rem;
  border-radius: 1rem;
}

.mapResponsive iframe {
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #000;
}

a:hover,
a:active {
  color: #ff0000;
}

@media only screen and (max-width: 600px) {
  main {
    padding-left: 0;
    padding-right: 0;
    /* background-color: gold; */
  }
  .mapResponsive {
    padding-bottom: 100%;
  }

  .mapResponsive iframe {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: lightpink; */
  }
}

@media only screen and (min-width: 992px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: violet; */
  }
}
