.headerContiner {
  position: relative;
  overflow: hidden;
}

.headerImg {
  width: 100%;
  height: auto;
}

.headerText {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Calibri, sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  width: 100%;
  padding: 2rem 2rem 0.5rem 1rem;
  user-select: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

@media only screen and (max-width: 600px) {
  .headerText {
    font-size: 3rem;
  }
}
