.headerContiner {
  position: relative;
  overflow: hidden;
}

.headerImg {
  width: 100%;
  height: auto;
}

.headerText {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Calibri, sans-serif;
  font-size: 5rem;
  width: 100%;
  padding: 2rem 2rem 1rem 1rem;
  user-select: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.mapResponsive {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
}

.mapResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .headerText {
    font-size: 3rem;
  }

  .mapResponsive iframe {
    width: 100%;
  }
}
