.card {
  box-sizing: content-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  border-bottom: #ff0000 solid 0.1rem;
}

.card:nth-last-child(even) {
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* .card:nth-last-child(even) > .textContainer {
  margin: 1rem 1rem 1rem 0; 
} */

.imageLink {
  display: inline-block;
  max-width: 45%;
  min-width: 45%;
  position: relative;
}

.image {
  position: relative !important;
  max-width: 100% !important;
  height: auto !important;
  border: #ff0000 solid 0.1rem;
  border-radius: 1rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 1rem;
  padding-bottom: 5rem;
  justify-content: center;
}

.title {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  color: #ff0000;
}

.text {
}

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column !important;
  }

  .imageLink {
    max-width: 95% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .textContainer {
    padding-bottom: 0;
  }
}

/* @media only screen and (min-width: 600px) {
  .thumbnail {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .thumbnail {
    width: 60%;
  }
} */
